/*** Nav bar ***/
.container-nav {
  background-color: #f4f4f5;
  margin: -0.5rem;
  position: relative;
  z-index: 1;
}
.list-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  padding: 1rem 30rem;
  font-weight: 200;
}
.anticon {
  position: absolute;
  left: -49px;
}
.anticon-btn {
  position: absolute;
  left: -49px;
}
@media (max-width: 550px) {
  .list-nav {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 1rem 0.3rem;
  }
  .items {
    margin-bottom: 2rem;
  }
  .container-nav {
    width: 28%;
    position: fixed;
    padding-bottom: 31rem;
    left: 8px;
    top: 2px;
    transition: right 0.6s;

    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &--open {
      left: -8.4rem;
    }
  }
  .anticon-btn {
    position: absolute !important;
    top: 0.6rem;
    left: 9.2rem !important;
  }
  .anticon {
    position: relative !important;
    left: 0 !important;
  }
}
/*** footer ***/

.bottom {
  position: absolute;

  display: flex;
  justify-content: space-evenly;
  background-color: #f4f4f5;
  width: 100%;
  margin-left: -0.5rem;
  text-align: center;
  font: 0.7em sans-serif;
}
/*** content page ***/
.section-about-me-box img {
  width: 600px;
  height: 600px;
  border-radius: 300px;
  transform: matrix(0.543064, 0, 0, 0.543064, 0, -10.9711);
  margin: 5rem 40rem;
}
.text {
  margin: 7rem 40rem;
  position: absolute;
  left: 0.5rem;
  top: 34rem;
  font-weight: 500;
  color: #9898ae;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.section-about-me-box p {
  margin: 7rem 40rem;
  position: absolute;
  left: 11.5rem;
  font-weight: 500;
  color: darkblue;
  font-family: sans-serif;
  letter-spacing: 1px;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 2.8rem;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s;
  color: #29252d;
  letter-spacing: 1px;
  position: absolute;
  left: 50rem;
  bottom: 47rem;
}
/*** Skills ***/

.section-skills-box {
  background-color: mediumblue;
  padding-bottom: 70rem;
  margin-top: 10rem;
}
.section-skills-box p {
  color: white;
  font-size: 5rem;
}

/*** Projects ***/
.section-projects-box {
  background-color: rgb(55, 55, 70);
  padding-bottom: 70rem;
}
.section-projects-box p {
  color: white;
  font-size: 5rem;
}

/*** Contact ***/
.section-contact-box {
  background-color: rgb(15, 15, 43);
  padding-bottom: 70rem;
}
.section-contact-box p {
  color: white;
  font-size: 5rem;
}
