.container-nav {
  background-color: #f4f4f5;
}
.list-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  padding: 20px 10px;
}
@media (max-width: 550px) {
  .list-nav {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
  .items {
    margin-bottom: 2rem;
  }
  .container-nav {
    width: 50%;
  }
}
